@model IEnumerable<Backend.Models.DnsServer>

@{
    ViewData["Title"] = "DNS Servers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>DNS Servers</h1>

<br />

<p>
    <a asp-action="Create" class="btn btn-primary"><span class="fas fa-plus"></span> Connect DNS Server</a>
</p>

<br />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                API URL
            </th>
            <th>
                DNS Server Type
            </th>
            <th>
                Total Domains
            </th>
            <th>
                Domains found at registry
            </th>
            <th>
                Signed Domains <br />(% signed of found)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var totalDomains = item.Domains.Count();
            var foundDomains = item.Domains.Count(x => x.CustomRegistryId != null);
            var signedDomains = item.Domains.Count(x => x.SignMatch == true);
            decimal percentSigned;

            if (signedDomains == 0 || foundDomains == 0)
            {
                percentSigned = 0;
            }
            else
            {
                percentSigned = ((decimal)signedDomains / (decimal)foundDomains * 100);
            }
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BaseUrl)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ServerType)
                </td>
                <td>
                    <a href="~/Domains?dnsId=@item.Id">@totalDomains</a>
                </td>
                <td>
                    <a href="~/Domains?dnsId=@item.Id&registryId=0">@foundDomains</a>
                </td>
                <td>
                    <a href="~/Domains?dnsId=@item.Id&signed=1">@signedDomains</a> (@percentSigned.ToString("N1") %)
                </td>
            </tr>
        }
    </tbody>
</table>
